name: Publish
on:
  push:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: write
  actions: read

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Dorg.gradle.workers.max=4 -Dorg.gradle.jvmargs=-Xmx13g
    steps:
      - uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: build
        run: ./gradlew assembleRelease
      - name: github release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          DATE=$(date +'%Y%m%d')
          HASH=$(git rev-parse --short HEAD)
          gh release create --latest "$DATE-$HASH" app/build/outputs/apk/release/app-release.apk
